@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Spline+Sans+Mono:wght@300&family=VT323&display=swap');


body {
  margin: 0;
  font-family: 'Amatic SC', cursive;
  font-family: 'Spline Sans Mono', monospace;
  font-family: 'VT323', monospace;
}

* {
  box-sizing: border-box;
}

h1, h3 {
  font-weight: 400;
  font-family: 'Amatic SC', cursive;
  font-family: 'Spline Sans Mono', monospace;
  font-family: 'VT323', monospace;

}

.weather-app {
  min-height: 100vh;
  background-image: url(./images/day/cloudy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  transition: 500ms;
  opacity: 0; /* change to '0' 
  once the whole app is finished */
}

/*Add background overlay*/
.weather-app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 2em 3em 4em 3em;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-time,
.temp,
.weather {
  margin: 0 2em;
}

.city-time h1 {
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 5em;
  
}

.temp {
  font-size: 10em;
  margin: 0;
}

.weather img {
  display: block;
  margin: 0.5em 0;
}

.panel {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 3em 2em;
  color: white;
}

.panel form {
  margin-bottom: 28em;
  color: white;
}

.submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5em;
  margin: 0;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 0em;
  transition: 0s;
}

.submit:hover {
  background: #fff !important;
  color: #000;
}

.search {
  position: relative;
  right: 60%;
  top: 0%;
  background: none;
  border: none;
  padding: 0 1em 0.5em 0;
  width: 80%;
  color: #fff;
  font-size: 1.5em;
  font-family: 'Amatic SC', cursive;
  font-family: 'Spline Sans Mono', monospace;
  font-family: 'VT323', monospace;

}

.dName{
  position: relative;
  left: 37%;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: white;
}

.panel ul {
  padding: 0 0 1em 0;
  margin: 2em 0;
  font-size: 20px;
}

.panel ul li {
  color: white;
  margin: 2.5em 0;
}

.panel ul h4 {
  margin: 3em 0;
}

.city {
 display: block;
 cursor: pointer;
}

.city:hover {
  color: white;
}

.details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



















